<!DOCTYPE html>
<html>
  <head>
    <title>User Goal App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

<p><%= flash[:errors] %></p>

  <% if logged_in? %>
    <form action="<%= session_url %>" method='POST'>
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="authenticity-token" value="<%= form_authenticity_token %>">
    <input type="submit" value="Sign Out">
  <% else %>
    <a href="<%= new_session_url %>">Sign In</a>
  <% end %>

  <body>
    <%= yield %>
  </body>
</html>
